body{
    margin: 0;
    padding: 0;
}
.wrapper .header .navbar ul li {
  margin-left: 10px;
  background: grey;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.wrapper .header{
    border-bottom: 5px solid white;
}
.wrapper .header .nav a{
    color: white;
    padding: 0 20px;
   }
.wrapper .header .navbar ul li a i{
    color: white;
    font-size: 16px;
}
.wrapper .menu .navbar{
   padding: 0;
}
.wrapper .menu .navbar ul li{
 margin-left: 20px;
}
.wrapper .menu .navbar .logo{
    background: aqua;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper .slideshow{
    width: 100%;
    height: 500px;
    position: relative;
}
.wrapper .slideshow .hinhanh{
    width: 100%;
    height: 500px;
  
}
.wrapper .slideshow .hinhanh img{
    width: 100%;
    height: 100%;;
}

.wrapper .slideshow .title{
    color: white;
    position: absolute;
    top: 70%;
    left:2%;
    transform: translate(0, -50%);
}
.wrapper .slideshow .title h2{
    text-transform: uppercase;
}
.wrapper .slideshow .title h4{
    text-transform: uppercase;
}
.wrapper .slideshow .title a{
    padding: 15px 30px;
}
@media (max-with:768px){
    .wrapper .slideshow .hinhanh{
       height: 300px;
    }
}
*{
  margin: 0;
  padding: 0;
}
.Our-services{
  width: 100%;
  height: 550px;
}
.Our-services .h2{
  text-align: center;
  font-weight: bold;
}
.Our-services p{
  padding: 1%;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.Our-services .row{
  height: 400px;
}
.Our-services .row .col-md-4{
  height: 200px;
}
.Our-services .row .col-md-4 i{
  padding: 2%;
}
.Our-services .row .col-md-4 .h3{
  padding: 2%;
}
.Our-services .row .col-md-4 p{
  padding: 1%;
}
.Our-services .row .col-md-4 .line{
  width: 50px;
  height: 2.5px;
  background: blue;
  margin-left: 2%;
}
.sideshow{
  width:100%;
  height: 500px;
  margin: 0 auto;
}
.sideshow img{
  width: 100%;
  height: 300px;
}
@media (max-width: 768px){
  .Our-services{
    height: 1000px;
  }
  .Our-services .row{
    height: 780px;  
  }
  .sideshow{
    height: 1500px;
  }
  .sideshow .row{
    height: 1500px;
  }
}
@media (max-width: 576px){
  .Our-services{
    height: 1450px;
  }
  .Our-services .row{
    height: 1210px; 
  }
  .sideshow{
    height: 1500px;
  }
  .sideshow .row{
    height: 1500px;
  }
}
@media (max-width: 360px){
  .Our-services{
    height: 1300px;
  }
  .Our-services p{
    display: none;
  }
  .Our-services .row{
    height: 1210px; 
  }
}
.Our-Gallery{
  width: 100%;
  height: 850px;
  /*background: #ccc;*/
}
.Our-Gallery .h2{
  text-align: center;
  font-weight: bold;
  transition-duration: 0.5s;
}
.Our-Gallery .h2:hover{
  color: green;
  transform: scale(1.2);
}
.Our-Gallery p{
  text-align: center;
  padding: 3%;
}
.Our-Gallery .row{
  height: auto;
}
.Our-Gallery .row .col-md-4{
  height: 200px;
  margin-bottom: 1%;
  /*background: #ccc;*/
}
.Our-Gallery .row .col-md-4 img{
  width: 100%;
  height: 100%;
  transition-duration: 2s;
}
.Our-Gallery .row .col-md-4 img:hover{
  transform: rotate(360deg);
}
/*end Our-Gallery*/
.Our-blog{
  height: 720px;
  /*background: #ccc;*/
}
.Our-blog .h2{
  text-align: center;
  font-weight: bold;
  transition-duration: 0.5s;
}
.Our-blog .h2:hover{
  color: green;
  transform: scale(1.2);
}
.Our-blog p{
  text-align: center;
  padding: 4%;
}
.Our-blog .row{
  height: auto;
}
.Our-blog .row .col-md-4{
  height: 500px;
  /*background: white;*/
}
.Our-blog .row .col-md-4 img{
  width: 100%;
  height: 200px;
  transition-duration: 1s;
}
.Our-blog .row .col-md-4 img:hover{
  transform: rotate(20deg);
}
.Our-blog .row .col-md-4 .h3{
  padding: 4%;
}
.Our-blog .row .col-md-4 p{
  padding: 4%;
  text-align: justify;
}
.Our-blog .row .footer .row{
  height: auto;
}
.Our-blog .row .footer .row i{
  margin: 2% 5% 5% 5%;
  float: left;
  transition-duration: 0.5s;
}
.Our-blog .row .footer .row i:hover{
  color: green;
  transform: scale(1.2);
}
.Our-blog .row .footer .row b{
  display: block;
  float: left;
}
@media (max-width: 768px){
  .Our-Gallery{
    height: 1300px;
  }
  .Our-blog{
    height: 1700px;
  }
  .Our-blog .row .col-md-4{
    height: 490px;
  }
}
@media (max-width: 576px){
  .Our-Gallery{
    height: 2100px;
  }
}
@media (max-width: 360px){
  .Our-Gallery{
    height: 2150px;
  }
  .Our-blog{
    height: 1750px;
  }
  .Our-blog .row .col-md-4{
    height: 480px;
  }
  .Our-blog .row .footer .row i{
    /*display: none;*/
  }
  .Our-blog .row .footer .row b{
    display: none;
  }
}
   img{
      width: 100%;
      height: 380px;
      position: relative;
     }
     .IMG{
      width: 85px;
      height: 85px;
      position: absolute;


      top: 8%;
      left: 46%;
     }
     .text-center{
      width: 600px; 
      position: absolute;
      top: 32%;
      left: 24%;
      font-family: arial;
      font-size: 14px;
      font-weight: 100;
     }
      H4{
      position: absolute;
     bottom: 38%;
      left: 46%;
      font-family: arial;
      font-size: 17px;
      color: #FFF;
      font-weight: 100;
     }
          H5{
      position: absolute;
     bottom: 32%;
      left: 45%;
      font-family: arial;
      font-size: 15px;
      color: #FFF;
      font-weight: 100;
     }
     @media screen and  (max-width:640px) {
       .IMG{
      left: 40%;
     }
          H4{
      left: 40%;
      }
       H5{
      left: 39%;
     }
       
  .text-center{
        display: none;
     }

     }
        @media screen and  (max-width:480px) {
  .text-center{
        display: none;
     }

     }
      @media screen and  (max-width:768px) {
        .text-center{
        left: 28px;
     }

      }